html, body{
    font-family: 'Raleway', sans-serif;
}
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sizeliens{
width: 45%;
}
.sizelien{
    width: 140px;
    height: 99px;
}
.logo {
    margin: bottom 7px;
}
.Booki{
    height: 50px;
    width: 120px;

}
.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.color-link1 {
   color: #0065FC;
   text-decoration: none;
    
}
.color-link2 {
    color: black;
    text-decoration: none;
   
}
.bordernav{
    border-top: 2px solid #0065FC;
}

/*Header*/

.bordureSearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;

}
.bordureNone{
    border: none;
}
.paddingSearch{
    padding-left: 20px;
}
.backbleu{
    background-color:#0065FC;

}

.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight:bold;
}
.Mapsize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.backGrey{
background-color: #F2F2F2;
}
.buttonSearch{
    height: 50px;
    width: 120px;
    color: #F2F2F2;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.buttonSearch :hover{
    color: #0065FC;
    background-color: #F2F2F2;
}







/*filtres*/

.flex {
    display: flex;
}
.justify-content-center {
    justify-content: center !important;
}
.align-items-center {
    align-items: center !important;
}
.space-around {
    justify-content: space-around !important;
}
.space-between {
    justify-content: space-between !important;
}
.filter {
    margin-right : 10px
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.filter-card {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
.margin-5:hover {
    margin-left: 5px ;
    color:  #0065FC;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-top-5 {
    margin-top: 10px;
}
.padding-10 {
    padding: 10px;
    height: 100%;
}
.padding-20 {
    padding: 15px;
}
.flex-grow {
    flex-grow: 1 !important;
}
.accommodation {
    background: #F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

.image-accomodation {
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.accommodation-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.accommodation-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 5px;
}
.accommodation-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-left: 5px;
}
.stars {
    list-style-type: none;
    justify-content: flex-start;
    padding-left: 5px;
} 

.see-more {
    
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
   
}
.side-section {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 420px;
}

.card-side-section {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px;
    display: flex;
    margin-top: 10px;
}
.image-side-section {
    width: 137px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.activity-card {
    border: 1px solid #FFFFFF;;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
}

.activity-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 5px;
}

.image-activity {
    width: 302px;
    height: 444.51px;
    border-radius: 20px;
}
/***** Footer *****/
.footer {
   height: 300px;
   margin-top: 100px;
   
}
.TailleBlockFoot {
    height: 150px;
}
.margeBlocFoot1 {
    margin-right: 5%;
}
.margeBlocFoot3{
    margin-right: 15%;
}


.fa-solid{
 color: #0065FC;  
}

/***** Responsive Ordinateur *****/
@media screen and (max-width:992px) {
    
}
@media screen and (max-width:768px){
.footer-section{
flex-direction: column;
}
}